<ion-view view-title="Momsmed" hide-back-button="true" xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html">
  <ion-content ng-controller="HomeCtrl" class="padding">

      <div class="list card">
        <div class="item text-center">
          <h2>Pregnancy Category</h2>
        </div>
        <div class="item item-body">
          <div class="list">
            <label class="item item-input item-floating-label"><span class ="input-label">Name of the Medication</span><input type="text"  placeholder="Enter name of the medication here" ng-model="input.medname">
            </label>
            <label class="item item-input item-select">
              <div class="input-label">
                Trimester
              </div>
              <select>
                <option>1st</option>
                <option>2nd</option>
                <option>3rd</option>
              </select>
            </label>
          </div>
          <a class="button button-full button-positive" href="#/result" >Submit</a>
        </div>


      </div>

  </ion-content>
</ion-view>
