/*.scroll-content {
    background-image: url(../img/picturebg.jpeg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}*/


/*
ion-view{
    background-image: url(../img/picturebg.jpeg)

}*/
<<<<<<< HEAD
=======


ion-view{
    background-image: url(../img/homepage.png);
    background-size: cover

}

.bg2{
    background-image: url(../img/picturebg.jpeg);
    background-size: cover
}

>>>>>>> a8cabbe0b1e52b06d7c5ea6fe5f694c51d1afce0
.bold{

    font-weight:bold;
}
.card .item{
<<<<<<< HEAD
    background:cornflowerblue;
=======
    background: #7388cd;
}

.card-red {
    background:palevioletred;

}

.button-red{
    background: palevioletred;
>>>>>>> a8cabbe0b1e52b06d7c5ea6fe5f694c51d1afce0
}