/*.scroll-content {
    background-image: url(../img/picturebg.jpeg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}*/


/*
ion-view{
    background-image: url(../img/picturebg.jpeg)

}*/


ion-view{
    background-image: url(../img/homepage.png)

}

.bg2{
    background-image: url(../img/picturebg.jpeg);
    background-size: cover
}

.bold{

    font-weight:bold;
}
.card .item{
    background:cornflowerblue;
}